* {
    margin: 0;
    padding: 0;

}

.master {
    width: 100%;
    background-color: rgb(45, 43, 68);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.header {
    .head {
        font-size: 200px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(180, 161, 138);
        padding: 50px;
        cursor: pointer;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition-property: all;
        transition-duration: .5s;


    }

    .head:hover {
        font-size: 220px;
    }

    .head:active {
        color: rgb(160, 143, 123);
        
        font-size: 250px;
    }
}